.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 100vw;
  height: 56.25vw;
  overflow: hidden;
}

.group_1 {
  background-color: rgba(255, 255, 255, 1);
  width: 85.94vw;
  height: 56.25vw;
  margin-left: 14.07vw;
}

.group_2 {
  background-color: rgba(249, 250, 253, 1);
  width: 14.07vw;
  height: 56.25vw;
  margin-left: -14.06vw;
}

.box_1 {
  width: 11.1vw;
  height: 2.09vw;
  margin: 1.04vw 0 0 1.14vw;
}

.image_1 {
  width: 2.71vw;
  height: 2.09vw;
}

.text_1 {
  width: 8.13vw;
  height: 1.78vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.25vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.72vw;
  margin-top: 0.11vw;
}

.box_2 {
  width: 3.44vw;
  height: 1.05vw;
  margin: 2.39vw 0 0 1.51vw;
}

.thumbnail_1 {
  width: 1.05vw;
  height: 1.05vw;
}

.text_2 {
  width: 1.98vw;
  overflow-wrap: break-word;
  color: rgba(64, 62, 98, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.94vw;
  margin-top: 0.06vw;
}

.box_3 {
  width: 5.42vw;
  margin: 2.23vw 0 0 1.4vw;
}

.label_1 {
  width: 1.25vw;
}

.text_3 {
  width: 3.86vw;
  overflow-wrap: break-word;
  color: rgba(64, 62, 98, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.94vw;
  margin-top: 0.16vw;
}

.box_4 {
  width: 5.42vw;
  margin: 2.18vw 0 0 1.4vw;
}

.label_2 {
  width: 1.25vw;
}

.text_4 {
  width: 3.86vw;
  overflow-wrap: break-word;
  color: rgba(64, 62, 98, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.94vw;
  margin-top: 0.21vw;
}

.box_5 {
  width: 5.42vw;
  margin: 2.23vw 0 0 1.4vw;
}

.label_3 {
  width: 1.25vw;
}

.text_5 {
  width: 3.86vw;
  overflow-wrap: break-word;
  color: rgba(64, 62, 98, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.94vw;
  margin-top: 0.16vw;
}

.image-text_1 {
  width: 5.42vw;
  margin: 2.03vw 0 0 1.4vw;
}

.label_4 {
  width: 1.25vw;
}

.text-group_1 {
  width: 3.86vw;
  overflow-wrap: break-word;
  color: rgba(64, 62, 98, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.94vw;
  margin-top: 0.16vw;
}

.box_6 {
  width: 14.07vw;
  height: 2vw;
  background: url(./img/SketchPng8b7eeae48ae4b0f32e03176aab0871de56c7969b522943b1259c7c90b3c89a8f.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 2.03vw;
}

.image-text_2 {
  width: 5.37vw;
  margin: 0.62vw 0 0 1.45vw;
}

.image_2 {
  width: 1.15vw;
}

.text-group_2 {
  width: 3.86vw;
  overflow-wrap: break-word;
  color: rgba(64, 62, 98, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.94vw;
}

.image-text_3 {
  width: 5.37vw;
  margin: 2.03vw 0 29.73vw 1.4vw;
}

.image_3 {
  width: 1.15vw;
}

.text-group_3 {
  width: 3.86vw;
  height: 0.94vw;
  overflow-wrap: break-word;
  color: rgba(64, 62, 98, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.94vw;
}

.group_3 {
  width: 21.72vw;
  height: 32.14vw;
  margin: 4.47vw 0 0 3.54vw;
}

.box_7 {
  width: 21.67vw;
  height: 5.53vw;
  margin-left: 0.06vw;
}

.image_4 {
  width: 5.53vw;
  height: 5.53vw;
}

.text-wrapper_1 {
  width: 4.22vw;
  height: 4.07vw;
  margin: 0.57vw 0 0 1.14vw;
}

.text_6 {
  width: 4.17vw;
  height: 1.62vw;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 0.98vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.57vw;
}

.text_7 {
  width: 4.22vw;
  height: 1.62vw;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 0.98vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.57vw;
  margin-top: 0.84vw;
}

.box_8 {
  width: 10.37vw;
  height: 3.75vw;
  margin: 0.57vw 0 0 0.41vw;
}

.box_9 {
  width: 10.32vw;
  height: 1.62vw;
  margin-left: 0.06vw;
}

.text_8 {
  width: 4.69vw;
  height: 1.62vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.98vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.57vw;
}

.text-wrapper_2 {
  background-color: rgba(239, 246, 255, 1);
  border-radius: 6px;
  height: 1.46vw;
  border: 1px rgba(223, 236, 254, 1);
  width: 4.9vw;
}

.text_9 {
  width: 2.92vw;
  height: 0.94vw;
  overflow-wrap: break-word;
  color: rgba(34, 66, 176, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.94vw;
  margin: 0.26vw 0 0 0.98vw;
}

.text_10 {
  width: 7.92vw;
  height: 1.31vw;
  overflow-wrap: break-word;
  color: rgba(64, 62, 98, 1);
  font-size: 0.93vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.31vw;
  margin-top: 0.84vw;
}

.text_11 {
  width: 6.98vw;
  height: 1.62vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.14vw;
  letter-spacing: -0.010999994352459908px;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.57vw;
  margin-top: 1.98vw;
}

.box_10 {
  width: 21.25vw;
  height: 2.19vw;
  margin-top: 1.31vw;
}

.text_12 {
  width: 4.22vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.93vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.25vw;
  margin-top: 0.47vw;
}

.text-wrapper_3 {
  border-radius: 6px;
  height: 2.19vw;
  border: 1px rgba(202, 206, 238, 1);
  width: 15.63vw;
}

.text_13 {
  width: 4.54vw;
  height: 1.31vw;
  overflow-wrap: break-word;
  color: rgba(64, 62, 98, 1);
  font-size: 0.93vw;
  letter-spacing: -0.008999994955956936px;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.31vw;
  margin: 0.41vw 0 0 0.78vw;
}

.box_11 {
  width: 21.25vw;
  height: 2.19vw;
  margin-top: 1.25vw;
}

.text_14 {
  width: 4.69vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.93vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.25vw;
  margin-top: 0.47vw;
}

.box_12 {
  border-radius: 6px;
  width: 15.63vw;
  height: 2.19vw;
  border: 1px rgba(202, 206, 238, 1);
}

.text_15 {
  width: 2.92vw;
  height: 1.31vw;
  overflow-wrap: break-word;
  color: rgba(64, 62, 98, 1);
  font-size: 0.93vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.31vw;
  margin: 0.41vw 0 0 0.78vw;
}

.thumbnail_2 {
  width: 0.53vw;
  height: 0.27vw;
  margin: 0.98vw 0.93vw 0 10.46vw;
}

.box_13 {
  width: 21.25vw;
  height: 2.19vw;
  margin-top: 1.25vw;
}

.text_16 {
  width: 4.74vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.93vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.25vw;
  margin-top: 0.47vw;
}

.text-wrapper_4 {
  border-radius: 6px;
  height: 2.19vw;
  border: 1px rgba(202, 206, 238, 1);
  width: 15.63vw;
}

.text_17 {
  width: 7.92vw;
  height: 1.31vw;
  overflow-wrap: break-word;
  color: rgba(64, 62, 98, 1);
  font-size: 0.93vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.31vw;
  margin: 0.41vw 0 0 0.78vw;
}

.box_14 {
  width: 21.25vw;
  height: 2.19vw;
  margin-top: 1.25vw;
}

.text_18 {
  width: 4.48vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.93vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.25vw;
  margin-top: 0.42vw;
}

.text-wrapper_5 {
  border-radius: 6px;
  height: 2.19vw;
  border: 1px rgba(202, 206, 238, 1);
  width: 15.63vw;
}

.text_19 {
  width: 7.66vw;
  height: 1.36vw;
  overflow-wrap: break-word;
  color: rgba(64, 62, 98, 1);
  font-size: 0.93vw;
  letter-spacing: -0.008999994955956936px;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.31vw;
  margin: 0.41vw 0 0 0.78vw;
}

.box_15 {
  width: 21.25vw;
  height: 2.19vw;
  margin-top: 1.25vw;
}

.text_20 {
  width: 4.69vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.93vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.25vw;
  margin-top: 0.47vw;
}

.text-wrapper_6 {
  border-radius: 6px;
  height: 2.19vw;
  border: 1px rgba(202, 206, 238, 1);
  width: 15.63vw;
}

.text_21 {
  width: 7.61vw;
  height: 1.31vw;
  overflow-wrap: break-word;
  color: rgba(64, 62, 98, 1);
  font-size: 0.93vw;
  letter-spacing: -0.008999994955956936px;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.31vw;
  margin: 0.41vw 0 0 0.78vw;
}

.text-wrapper_7 {
  height: 2.19vw;
  background: url(./img/SketchPng3f0d29f084a2fe1f3d0bbcff011923479f4b168820aafe7f692865a8b7ea7aaa.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 7.3vw;
  margin: 3.59vw 0 0 0.05vw;
}

.text_22 {
  width: 2.19vw;
  height: 1.46vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.04vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.46vw;
  margin: 0.36vw 0 0 2.55vw;
}

.image-text_4 {
  width: 7.71vw;
  height: 1.31vw;
  margin: 29.06vw 0 0 0.15vw;
}

.thumbnail_3 {
  width: 0.73vw;
  height: 0.73vw;
  margin-top: 0.37vw;
}

.text-group_4 {
  width: 6.67vw;
  height: 1.31vw;
  overflow-wrap: break-word;
  color: rgba(255, 77, 79, 1);
  font-size: 0.93vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.31vw;
}

.label_5 {
  width: 1.1vw;
  height: 1.31vw;
  margin: 1.35vw 0 0 44.27vw;
}

.text-wrapper_8 {
  background-color: rgba(108, 127, 255, 1);
  border-radius: 50%;
  height: 1.78vw;
  width: 1.78vw;
  margin: 1.09vw 0 0 0.98vw;
}

.text_23 {
  width: 0.94vw;
  height: 1.15vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.83vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.15vw;
  margin: 0.31vw 0 0 0.41vw;
}

.text_24 {
  width: 2.61vw;
  height: 1.15vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.83vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.15vw;
  margin: 1.4vw 0 0 0.1vw;
}

.thumbnail_4 {
  width: 0.53vw;
  height: 0.27vw;
  margin: 1.87vw 1.3vw 0 0.15vw;
}
