.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 100vw;
  height: 166.15vw;
  overflow: hidden;
}

.box_1 {
  background-color: rgba(255, 255, 255, 1);
  width: 100vw;
  height: 4.07vw;
}

.box_2 {
  width: 38.03vw;
  height: 1.72vw;
  margin: 15.93vw 0 0 9.42vw;
}

.text_1 {
  width: 8.96vw;
  height: 1.72vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.25vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.72vw;
}

.image-text_1 {
  width: 8.18vw;
  height: 1.72vw;
  margin-left: 5.21vw;
}

.label_1 {
  width: 1.46vw;
  height: 1.46vw;
  margin-top: 0.27vw;
}

.text-group_1 {
  width: 6.2vw;
  height: 1.72vw;
  overflow-wrap: break-word;
  color: rgba(67, 85, 204, 1);
  font-size: 1.25vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.72vw;
}

.text_2 {
  width: 10.11vw;
  height: 1.72vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.25vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.72vw;
  margin-left: 5.58vw;
}

.box_3 {
  background-color: rgba(231, 233, 249, 1);
  height: 0.16vw;
  width: 81.25vw;
  margin: 0.88vw 0 0 9.37vw;
}

.block_1 {
  background-color: rgba(86, 107, 255, 1);
  width: 8.08vw;
  height: 0.16vw;
  margin-left: 14.22vw;
}

.text-wrapper_1 {
  width: 4.59vw;
  height: 1.93vw;
  margin: 3.54vw 0 0 10.62vw;
}

.text_3 {
  width: 1.46vw;
  height: 1.46vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.45vw;
  font-family: AppleColorEmoji;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.46vw;
  margin-top: 0.27vw;
}

.text_4 {
  width: 2.71vw;
  height: 1.93vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.35vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.93vw;
}

.box_4 {
  background-color: rgba(250, 251, 255, 1);
  border-radius: 6px;
  width: 78.55vw;
  height: 33vw;
  margin: 1.4vw 0 0 10.83vw;
}

.image-wrapper_1 {
  border-radius: 2px;
  background-image: url(./img/55217c86e92149e0b4c877c412eac3ec_mergeImage.png);
  height: 13.34vw;
  width: 25.42vw;
  margin: 1.45vw 0 0 26.45vw;
  background-size: cover;
}

.label_2 {
  width: 1.98vw;
  height: 1.98vw;
  margin: 5.52vw 0 0 11.71vw;
}

.text-group_2 {
  width: 73.08vw;
  height: 13.23vw;
  margin: 1.66vw 0 1.97vw 1.4vw;
}

.text-wrapper_2 {
  width: 73.08vw;
  height: 3.75vw;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: Consolas;
  font-weight: NaN;
  text-align: justify;
  line-height: 1.88vw;
}

.text_5 {
  width: 73.08vw;
  height: 3.75vw;
  overflow-wrap: break-word;
  color: rgba(67, 85, 204, 1);
  font-size: 1.14vw;
  font-family: Consolas;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
}

.text_6 {
  width: 73.08vw;
  height: 3.75vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.14vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
}

.text-wrapper_3 {
  width: 38.96vw;
  height: 9.43vw;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: Consolas;
  font-weight: NaN;
  text-align: justify;
  line-height: 1.88vw;
  margin-top: 0.06vw;
}

.text_7 {
  width: 38.96vw;
  height: 9.43vw;
  overflow-wrap: break-word;
  color: rgba(67, 85, 204, 1);
  font-size: 1.14vw;
  font-family: Consolas;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
}

.paragraph_1 {
  width: 38.96vw;
  height: 9.43vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.14vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
}

.text_8 {
  width: 38.96vw;
  height: 9.43vw;
  overflow-wrap: break-word;
  color: rgba(231, 42, 42, 1);
  font-size: 1.14vw;
  font-family: Consolas;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
}

.text_9 {
  width: 38.96vw;
  height: 9.43vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.14vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
}

.text-wrapper_4 {
  width: 10.79vw;
  height: 2.35vw;
  margin: 3.54vw 0 0 44.16vw;
}

.text_10 {
  width: 1.67vw;
  height: 2.19vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.66vw;
  font-family: AppleColorEmoji;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.19vw;
  margin-top: 0.11vw;
}

.text_11 {
  width: 8.7vw;
  height: 2.35vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.66vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 2.35vw;
}

.text-wrapper_5 {
  width: 77.4vw;
  height: 57.09vw;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 2.09vw;
  margin: 2.34vw 0 39.53vw 10.83vw;
}

.text_12 {
  width: 77.4vw;
  height: 57.09vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.25vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 2.09vw;
}

.paragraph_2 {
  width: 77.4vw;
  height: 57.09vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.25vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 2.09vw;
}

.text_13 {
  width: 77.4vw;
  height: 57.09vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.14vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 2.09vw;
}

.paragraph_3 {
  width: 77.4vw;
  height: 57.09vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.25vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 2.09vw;
}

.text_14 {
  width: 77.4vw;
  height: 57.09vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.14vw;
  font-family: PingFangSC-Medium;
  font-weight: 800;
  text-align: left;
  line-height: 2.09vw;
}

.paragraph_4 {
  width: 77.4vw;
  height: 57.09vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.14vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 2.09vw;
}

.text_15 {
  width: 77.4vw;
  height: 57.09vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.14vw;
  font-family: PingFangSC-Medium;
  font-weight: 800;
  text-align: left;
  line-height: 2.09vw;
}

.paragraph_5 {
  width: 77.4vw;
  height: 57.09vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.14vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 2.09vw;
}

.text_16 {
  width: 77.4vw;
  height: 57.09vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.14vw;
  font-family: PingFangSC-Medium;
  font-weight: 800;
  text-align: left;
  line-height: 2.09vw;
}

.paragraph_6 {
  width: 77.4vw;
  height: 57.09vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.14vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 2.09vw;
}

.text_17 {
  width: 77.4vw;
  height: 57.09vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.14vw;
  font-family: PingFangSC-Medium;
  font-weight: 800;
  text-align: left;
  line-height: 2.09vw;
}

.paragraph_7 {
  width: 77.4vw;
  height: 57.09vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.14vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 2.09vw;
}

.text_18 {
  width: 77.4vw;
  height: 57.09vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.14vw;
  font-family: PingFangSC-Medium;
  font-weight: 800;
  text-align: left;
  line-height: 2.09vw;
}

.paragraph_8 {
  width: 77.4vw;
  height: 57.09vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.14vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 2.09vw;
}

.text_19 {
  width: 77.4vw;
  height: 57.09vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.14vw;
  font-family: PingFangSC-Medium;
  font-weight: 800;
  text-align: left;
  line-height: 2.09vw;
}

.paragraph_9 {
  width: 77.4vw;
  height: 57.09vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.14vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 2.09vw;
}

.box_5 {
  height: 16.46vw;
  background: url(./img/SketchPngd6408ff75518de65f350b703d53722c81a778dfc600736ab4cda372f7ec2bc0c.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
}

.group_1 {
  width: 82.45vw;
  height: 2.09vw;
  margin: 0.93vw 0 0 1.45vw;
}

.image_1 {
  width: 2.71vw;
  height: 2.09vw;
}

.text_20 {
  width: 8.03vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.25vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.46vw;
  margin: 0.41vw 0 0 0.31vw;
}

.group_2 {
  background-color: rgba(244, 245, 255, 1);
  border-radius: 6px;
  width: 18.75vw;
  height: 2.09vw;
  margin-left: 2.19vw;
}

.thumbnail_1 {
  width: 0.79vw;
  height: 0.79vw;
  margin: 0.67vw 0 0 0.57vw;
}

.text_21 {
  width: 10.47vw;
  height: 1.31vw;
  overflow-wrap: break-word;
  color: rgba(187, 186, 204, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.31vw;
  margin: 0.41vw 6.51vw 0 0.41vw;
}

.text_22 {
  width: 3.18vw;
  height: 1.57vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.14vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.57vw;
  margin: 0.31vw 0 0 5.31vw;
}

.text_23 {
  width: 4.8vw;
  height: 1.57vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.14vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 1.57vw;
  margin: 0.31vw 0 0 4.27vw;
}

.text_24 {
  width: 10.27vw;
  height: 1.57vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.14vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.57vw;
  margin: 0.31vw 0 0 4.37vw;
}

.text_25 {
  width: 3.91vw;
  height: 1.57vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.14vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.57vw;
  margin: 0.31vw 0 0 14.37vw;
}

.group_3 {
  background-color: rgba(119, 137, 255, 1);
  width: 0.06vw;
  height: 0.94vw;
  margin: 0.62vw 2.5vw 0 -2.55vw;
}

.text-wrapper_6 {
  width: 12.24vw;
  height: 3.13vw;
  margin: 2.96vw 0 0 43.9vw;
}

.text_26 {
  width: 12.24vw;
  height: 3.13vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 2.91vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 3.13vw;
}

.text-wrapper_7 {
  width: 25.63vw;
  height: 3.13vw;
  margin: 0.98vw 0 3.22vw 37.18vw;
}

.text_27 {
  width: 25.63vw;
  height: 3.13vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.35vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  line-height: 3.13vw;
}
