.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 100vw;
  height: 56.25vw;
  overflow: hidden;
}

.group_1 {
  width: 98.7vw;
  height: 56.25vw;
}

.box_1 {
  background-color: rgba(249, 250, 253, 1);
  width: 14.07vw;
  height: 56.25vw;
}

.group_2 {
  width: 11.1vw;
  height: 2.09vw;
  margin: 1.04vw 0 0 1.14vw;
}

.image_1 {
  width: 2.71vw;
  height: 2.09vw;
}

.text_1 {
  width: 8.13vw;
  height: 1.78vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.25vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.72vw;
  margin-top: 0.11vw;
}

.group_3 {
  width: 5.42vw;
  height: 1.25vw;
  margin: 2.29vw 0 0 1.4vw;
}

.label_1 {
  width: 1.25vw;
  height: 1.25vw;
}

.text_2 {
  width: 3.86vw;
  height: 0.94vw;
  overflow-wrap: break-word;
  color: rgba(64, 62, 98, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.94vw;
  margin-top: 0.16vw;
}

.group_4 {
  width: 14.07vw;
  height: 2.4vw;
  background: url(./img/SketchPng8b7eeae48ae4b0f32e03176aab0871de56c7969b522943b1259c7c90b3c89a8f.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 1.67vw;
}

.label_2 {
  width: 1.25vw;
  height: 1.25vw;
  margin: 0.57vw 0 0 1.4vw;
}

.text_3 {
  width: 3.86vw;
  height: 0.94vw;
  overflow-wrap: break-word;
  color: rgba(64, 62, 98, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.94vw;
  margin: 0.72vw 7.23vw 0 0.31vw;
}

.group_5 {
  width: 5.37vw;
  height: 0.94vw;
  margin: 1.66vw 0 42.91vw 1.4vw;
}

.image_2 {
  width: 1.15vw;
  height: 0.89vw;
}

.text_4 {
  width: 3.86vw;
  height: 0.94vw;
  overflow-wrap: break-word;
  color: rgba(64, 62, 98, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.94vw;
}

.box_2 {
  width: 80.37vw;
  height: 28.39vw;
  margin: 1.09vw 0 0 3.54vw;
}

.group_6 {
  width: 3.65vw;
  height: 1.78vw;
  margin-left: 76.72vw;
}

.text-wrapper_1 {
  background-color: rgba(108, 127, 255, 1);
  border-radius: 50%;
  height: 1.78vw;
  width: 1.78vw;
}

.text_5 {
  width: 0.94vw;
  height: 1.15vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.83vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.15vw;
  margin: 0.31vw 0 0 0.41vw;
}

.text_6 {
  width: 1.78vw;
  height: 1.15vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.83vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.15vw;
  margin-top: 0.32vw;
}

.group_7 {
  width: 15.53vw;
  height: 2.35vw;
  margin: 1.45vw 0 0 0.05vw;
}

.text-wrapper_2 {
  width: 2.19vw;
  height: 2.19vw;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: AppleColorEmoji;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.3vw;
  margin-top: 0.11vw;
}

.text_7 {
  width: 2.19vw;
  height: 2.19vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.66vw;
  font-family: AppleColorEmoji;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.3vw;
}

.text_8 {
  width: 2.19vw;
  height: 2.19vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 1.66vw;
  font-family: AppleColorEmoji;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.3vw;
}

.text_9 {
  width: 13.44vw;
  height: 2.35vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.66vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 2.3vw;
  margin-left: -0.1vw;
}

.group_8 {
  width: 80.32vw;
  height: 2.3vw;
  margin-top: 1.83vw;
}

.text_10 {
  width: 7.4vw;
  height: 1.46vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.04vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.46vw;
  margin-top: 0.63vw;
}

.text_11 {
  width: 0.73vw;
  height: 1.62vw;
  overflow-wrap: break-word;
  color: rgba(255, 77, 79, 1);
  font-size: 1.14vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.57vw;
  margin: 0.67vw 0 0 0.2vw;
}

.group_9 {
  width: 7.3vw;
  height: 2.3vw;
  background: url(./img/SketchPngf0f693bd9ad107d19dadc5b1f53a80f67beb67998e4a67b492455929b2c5f5ec.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 64.69vw;
}

.text_12 {
  width: 3.86vw;
  height: 1.31vw;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.31vw;
  margin: 0.52vw 0 0 0.78vw;
}

.thumbnail_1 {
  width: 0.53vw;
  height: 0.27vw;
  margin: 0.98vw 0.52vw 0 1.61vw;
}

.text-wrapper_3 {
  background-color: rgba(249, 250, 253, 1);
  border-radius: 6px;
  width: 80.27vw;
  height: 2.82vw;
  margin: 1.3vw 0 0 0.05vw;
}

.text_13 {
  width: 1.88vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.93vw;
  letter-spacing: -0.08400000631809235px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.36vw;
  margin: 0.83vw 0 0 0.93vw;
}

.text_14 {
  width: 3.75vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.93vw;
  letter-spacing: -0.08400000631809235px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.36vw;
  margin: 0.83vw 0 0 5.57vw;
}

.text_15 {
  width: 3.75vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.93vw;
  letter-spacing: -0.08400000631809235px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.36vw;
  margin: 0.83vw 0 0 15.52vw;
}

.text_16 {
  width: 3.75vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.93vw;
  letter-spacing: -0.08400000631809235px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.36vw;
  margin: 0.83vw 0 0 15.52vw;
}

.text_17 {
  width: 1.88vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.93vw;
  letter-spacing: -0.08400000631809235px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.36vw;
  margin: 0.83vw 11.3vw 0 16.4vw;
}

.text-wrapper_4 {
  width: 70.42vw;
  height: 1.25vw;
  margin: 1.14vw 0 0 1.71vw;
}

.text_18 {
  width: 0.42vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(64, 62, 98, 1);
  font-size: 0.93vw;
  letter-spacing: -0.08400000631809235px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.36vw;
}

.text_19 {
  width: 7.82vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(64, 62, 98, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.31vw;
  margin-left: 6.31vw;
}

.text_20 {
  width: 3.75vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(64, 62, 98, 1);
  font-size: 0.93vw;
  letter-spacing: -0.08400000631809235px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.36vw;
  margin-left: 11.46vw;
}

.text_21 {
  width: 9.38vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(64, 62, 98, 1);
  font-size: 0.93vw;
  letter-spacing: -0.08400000631809235px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.36vw;
  margin-left: 15.53vw;
}

.text_22 {
  width: 5vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(108, 127, 255, 1);
  font-size: 0.93vw;
  letter-spacing: -0.08400000631809235px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.36vw;
  margin-left: 10.79vw;
}

.text-wrapper_5 {
  width: 70.47vw;
  height: 1.25vw;
  margin: 2.44vw 0 0 1.66vw;
}

.text_23 {
  width: 0.58vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(64, 62, 98, 1);
  font-size: 0.93vw;
  letter-spacing: -0.08400000631809235px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.36vw;
}

.text_24 {
  width: 8.03vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(64, 62, 98, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.31vw;
  margin-left: 6.2vw;
}

.text_25 {
  width: 3.75vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(64, 62, 98, 1);
  font-size: 0.93vw;
  letter-spacing: -0.08400000631809235px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.36vw;
  margin-left: 11.25vw;
}

.text_26 {
  width: 9.38vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(64, 62, 98, 1);
  font-size: 0.93vw;
  letter-spacing: -0.08400000631809235px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.36vw;
  margin-left: 15.53vw;
}

.text_27 {
  width: 5vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(108, 127, 255, 1);
  font-size: 0.93vw;
  letter-spacing: -0.08400000631809235px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.36vw;
  margin-left: 10.79vw;
}

.text-wrapper_6 {
  width: 70.47vw;
  height: 1.25vw;
  margin: 2.44vw 0 0 1.66vw;
}

.text_28 {
  width: 0.58vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(64, 62, 98, 1);
  font-size: 0.93vw;
  letter-spacing: -0.08400000631809235px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.36vw;
}

.text_29 {
  width: 7.82vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(64, 62, 98, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.31vw;
  margin-left: 6.2vw;
}

.text_30 {
  width: 3.75vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(64, 62, 98, 1);
  font-size: 0.93vw;
  letter-spacing: -0.08400000631809235px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.36vw;
  margin-left: 11.46vw;
}

.text_31 {
  width: 9.38vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(64, 62, 98, 1);
  font-size: 0.93vw;
  letter-spacing: -0.08400000631809235px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.36vw;
  margin-left: 15.53vw;
}

.text_32 {
  width: 5vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(108, 127, 255, 1);
  font-size: 0.93vw;
  letter-spacing: -0.08400000631809235px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.36vw;
  margin-left: 10.79vw;
}

.group_10 {
  width: 77.71vw;
  height: 1.88vw;
  margin: 2.91vw 0 0 2.6vw;
}

.text_33 {
  width: 2.19vw;
  height: 1.46vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.04vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.46vw;
  margin-top: 0.42vw;
}

.thumbnail_2 {
  width: 0.32vw;
  height: 0.58vw;
  margin: 0.31vw 0 0 69.11vw;
}

.box_3 {
  background-color: rgba(108, 127, 255, 1);
  border-radius: 50%;
  width: 1.05vw;
  height: 1.05vw;
  margin: 0.05vw 0 0 0.93vw;
}

.text_34 {
  width: 0.63vw;
  height: 1.15vw;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 0.83vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.15vw;
  margin-left: 0.73vw;
}

.text_35 {
  width: 0.63vw;
  height: 1.15vw;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 0.83vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.15vw;
  margin-left: 0.79vw;
}

.thumbnail_3 {
  width: 0.32vw;
  height: 0.58vw;
  margin: 0.31vw 0 0 1.04vw;
}

.thumbnail_4 {
  width: 0.53vw;
  height: 0.27vw;
  margin: 1.87vw 0 0 0.2vw;
}

.text_36 {
  position: absolute;
  left: 93.03vw;
  top: 27.61vw;
  width: 0.47vw;
  height: 1.15vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.83vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.15vw;
}
