.topTitle {
	width: 31vw;
	margin: auto;
	margin-top: 7vw;
	font-size: 3vw;
	font-weight: 600;
	color: #1C1C1C;
	font-family: PingFang SC-Semibold;
}

.data {
	width: 23vw;
	margin: 2.5vw auto;
}

.inputOrdinary {
	width: 98%;
	height: 2.2vw;
	color: #CACEEE;
	margin-top: 0.2vw;
}

.loginBtn {
	width: 100%;
	height: 2.5vw;
	color: white;
	font-weight: 500;
	font-family: PingFang SC-Medium;
	background: linear-gradient(to right, #8695F3, #B1BAFF);
	border: none;
	border-radius: 0.5vw;
}

.ordinarySpan {
	font-family: PingFang SC-Regular;
	font-size: 1vw;
}

/* 设置输入框默认文字样式 */
input::-webkit-input-placeholder {
	color: #CACEEE;
}